.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Thêm dòng này để căn giữa theo chiều ngang */
    padding: 5px;
    border-radius: 5px;
}

.search-input {
    border: none;
    outline: none;
    height: 40px;
    width: 600px;
}

.search-icon {
    padding: 5px;
    background-color: #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
